.modal.docked .modal-dialog{
  position:fixed;
  top:0;
  margin:0;
  height:100vh;
  width:100%;
}
.modal.docked.docked-left .modal-dialog{
  left:0
}
.modal.docked.docked-right .modal-dialog{
  right:0
}
.modal.docked .modal-content{
  border-radius:0;
  height:100vh
}
.modal.docked .modal-footer{
  position:fixed;
  bottom:0;
  right:0
}

.modal.docked .modal-header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.modal.docked .modal-content {
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}
.modal.docked .modal-body{
  padding-top:90px;
  padding-bottom:72px;
}